# Environment & Secrets
.env
*.env
*.pem
*.key

# Deployment & Temporary State
/pipeline/.ec2-ip
/tiny/.api_url
/bin/

# Node & Build Outputs
/node_modules
/dist
/frontend/wget-log*
/localstack_data/cache
/backend/server
/backend/main

